$font_size: 12pt;
.b {
    display: inline-block;
    width: 100px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 1em;
}

.button {
  color: white;
  background-color: #5c74ff;
  border: 1px solid black;
  width: 60px;
  height:28px;
  font-size: 10pt;
  text-align: right;
}


.input {
  font-size: 1em;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

.show {
  margin-top: 10px;
  margin-left: 105px;
  text-align: left;
  display: inline;
}

.hidden {
  display: none;
}

.wrong {
  margin-top: 10px;
  margin-left: 105px;
  text-align: left;
  display: inline;
  color: red;
  font-size: $font_size;
}

.right {
  margin-top: 10px;
  margin-left: 105px;
  text-align: left;
  display: inline;
  color: green;
  font-size: $font_size;
}